.fv {
    position: relative;
    padding-bottom: 50.5px;
    transition: .4s;
}

.fv_bg {
    height: 100%;
}

.fv_contents {
    display: flex;
    margin-top: calc(286.7/1920*100vw);
}

.fv_image {
    width: calc(740/1920*100vw);
    height:492px;
    margin-right:calc(34.5/1920*100vw);
}

.fv_content {
    margin-top:calc(90/1920*100vw);
    position: relative;
    max-width:calc(471/1920*100vw);
    margin-right:calc(27.5/1920*100vw);
}

.fv_arrival {
    font-size: calc(22/1920*100vw);
    font-weight: 700;
    letter-spacing: 0.053em;
    color:#fff;
    border:2px solid #fff;
    max-width: calc(118/1920*100vw);;
    width: 100%;
    height:calc(30/1920*100vw);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
}

.fv_controller {
    position: absolute;
    bottom:calc(15/1920*100vw);
    right:calc(850/1920*100vw);
    max-width: 512px;
    display: flex;
    gap:0 calc(38/1920*100vw);
}

.fv-next_arrow {
    display: block;
    width: calc(153/1920*100vw);
    height:calc(15/1920*100vw);
    z-index:10;
    position: absolute;
    right: calc(-191/1920*100vw);
    top: 15%;
    cursor: pointer;
}

.fv_text {
    font-size: calc(35/1920*100vw);
    font-weight: 700;
    line-height: calc(48/35);
    margin-top: calc(17/1920*100vw);
    color:#fff;
    letter-spacing: -0.028em;
}

// pagination
.fv_pagination {
    z-index: 10;
}

/* 円形のプログレスバー */
.circle {
    position: relative;
    width: calc(52/1920*100vw);
    height: calc(52/1920*100vw);
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    margin: auto;
    cursor: pointer;
    background-color: transparent;
}
.circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: calc(-26/1920*100vw);
    width: calc(52/1920*100vw);
    height: calc(52/1920*100vw);
    transform-origin: right calc(26/1920*100vw);
    z-index: 2;
}
.circle::after {
    content: "";
    display: block;
    position: absolute;
    background-color: transparent;
    top: 0px;
    left: calc(26/1920*100vw);
    width: calc(52/1920*100vw);
    height: calc(52/1920*100vw);
    transform-origin: left calc(26/1920*100vw);
    z-index: 3;
}
.swiper-pagination-bullet-active {
    background-color: #fff;
}
.swiper-pagination-bullet-active::before {
    background-color: var(--circle-before-bg);
}
.swiper-pagination-bullet.swiper-pagination-bullet-active.circle::before {
    animation: circleBefore 5s linear forwards;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active.circle::after {
    animation: circleAfter 5s linear forwards;
}
.circle .circle_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(47/1920*100vw);
    height: calc(47/1920*100vw);
    border-radius: 50%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: calc(24/1920*100vw);
}
@keyframes circleAfter {
    0% {
        transform: rotate(0deg);
           background: var(--circle-before-bg);
      }
    
      50% {
        transform: rotate(180deg);
           background: var(--circle-before-bg);
      }
    
      50.01% {
        transform: rotate(360deg);
        background-color: #fff;
      }
    
      100% {
        transform: rotate(360deg);
        background-color: #fff;
      }
}
@keyframes circleBefore {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}

/* アクティブなスライドの数字を表示 */
.fv .swiper-pagination-bullet.swiper-pagination-bullet-active .circle_inner {
    display: flex;
}

/* 非アクティブなスライドの数字を非表示 */
.fv .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) .circle_inner {
    display: none;
}

/* 非アクティブなスライドにドットを表示 */
.fv .swiper-pagination-bullet:not(.swiper-pagination-bullet-active)::before {
    content: "•";
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(24/1920*100vw);
    color: #fff;
}

/* 非アクティブなスライドのcircleにhoverしたときのスタイル */
.fv .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover::before {
    display: none; /* ドットを非表示にする */
}

.fv .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover .circle_inner {
    display: flex; /* 数字を表示する */
}

.pc {
    display: block;
}

.sp {
    display: none;
}

@media screen and (max-width:1135px) {
    .fv_controller {
        right:calc(375/1135*100vw);
    }
} 

@media screen and (max-width:768px) {

    .pc {
        display: none;
    }
    
    .sp {
        display: block;
    }

    .fv {
        min-height: calc(601/375*100vw);
        padding-bottom: initial;
    }

    .fv .swiper-wrapper {
        min-height: calc(601/375*100vw);
    }
    
    .fv_contents {
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
        margin-top:calc(60/375*100vw);
    }

    .fv_content {
        margin-top: 30px;
        position: relative;
        max-width: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .fv_image {
        margin-top: calc(60/375*100vw);
        max-width: 100%;
        width: 100%;
        margin:0 auto;
        height:calc(255/375*100vw);
    }

    .fv_arrival {
        font-size: calc(14/375*100vw);;
        font-weight: 700;
        letter-spacing: 0.053em;
        color:#fff;
        border:2px solid #fff;
        max-width: calc(80/375*100vw);;
        width: 100%;
        height:calc(20/375*100vw);;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: calc(16/375*100vw);
        border-radius: calc(14/375*100vw);
    }

    .fv_controller {
        bottom:calc(32.3/375*100vw);
        right:50%;
        transform: translateX(50%);
        max-width: calc(256.87/375*100vw);
    }

    .fv-next_arrow {
        position: absolute;
        top: 0;
        right: calc(13/375*100vw);
        max-width: calc(153/375*100vw);
        width: 100%;
        height:calc(15/375*100vw);
    }

    .fv_text {
        font-size: calc(18/375*100vw);
        font-weight: 700;
        line-height: calc(28/18);
        margin-top: calc(10/375*100vw);
        padding:0 calc(25/375*100vw);
        color:#fff;
        letter-spacing: 0.053em;
    }

    /* 円形のプログレスバー */
.circle {
    position: relative;
    width: calc(35.33/375*100vw);
    height: calc(35.33/375*100vw);
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    margin: auto;
    cursor: pointer;
}
.circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: calc(-17.665/375*100vw);
    width: calc(35.33/375*100vw);
    height: calc(35.33/375*100vw);
    transform-origin: right calc(17.665/375*100vw);
    z-index: 2;
}
.circle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: calc(17.665/375*100vw);
    width: calc(35.33/375*100vw);
    height: calc(35.33/375*100vw);
    transform-origin: left calc(17.665/375*100vw);
    z-index: 3;
}
.fv .swiper-pagination-bullet-active {
    background: #fff;
}
.fv .swiper-pagination-bullet-active::before {
    background: var(--circle-before-bg);
}
.fv .swiper-pagination-bullet.swiper-pagination-bullet-active.circle::before {
    animation: circleBefore 5s linear forwards;
}
.fv .swiper-pagination-bullet.swiper-pagination-bullet-active.circle::after {
    animation: circleAfter 5s linear forwards;
}
.circle .circle_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(30.33/375*100vw);
    height: calc(30.33/375*100vw);
    border-radius: 50%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: calc(16/375*100vw);
}

/* 非アクティブなスライドにドットを表示 */
.fv .swiper-pagination-bullet:not(.swiper-pagination-bullet-active)::before {
    top: 60%;
    font-size:initial;
}

}